/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/* end google fonts */
/* variables */
/* end variables*/
/* mixins */
/* end mixins */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 4rem;
  height: 4rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  padding: 10rem;
  min-height: 100vh;
  border: 2px solid;
}

body .container {
  margin: auto;
  padding: 5rem;
  width: 100%;
  background-color: #f8f8f8;
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-radius: 2rem;
}

body .container .header .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .header .home .button {
  border: 1px solid;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #b3ffb3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .home .button i {
  font-size: 2rem;
  margin: auto;
}

body .container .header .home ul {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body .container .header .home ul li a {
  font-size: 1.7rem;
  color: #222;
}

body .container .header .languages {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .languages span {
  font-weight: bold;
  background: none;
  border: 0;
}

.main {
  margin: 5rem 0;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h2 {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  letter-spacing: .15rem;
}

.main h2 span {
  color: #004d00;
}

.main img {
  width: 65rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */